<launch>
<node pkg="l3xz_openmv_camera" type="l3xz_openmv_camera_node.py" name="openmv" output="screen">
  <param name="image_topic" value="image_color"/>
  <param name="info_topic" value="camera_info"/>
  <param name="show_image" value="true"/>
  <param name="image_queue" value="1"/>
  <param name="info_queue" value="1"/>
  <param name="camera_script" value="/home/pi/catkin_ws/src/l3xz_openmv_camera/scripts/camera_script.py"/>
  <param name="port" value="/dev/ttyACM0"/>
  <param name="rate_hz" value="10"/>
  <param name="frame_id" value="odom"/>
</node>
</launch>

